@{
    ViewBag.Title = "Classes";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="all-classes" class="table table-striped apply-data-table">
                <caption>All Classes</caption>
                <thead>
                    <tr>
                        <th>Class ID</th>
                        <th>Location</th>
                        <th>Teacher</th>
                        <th>Number Students</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var clazz in Model) {
                        <tr>
                            <td>@clazz.ClassID</td>
                            <!--Add back in <a href="/home/classdetails/clazz.ClassID" when detail screen is know-->
                            <td>@clazz.Location</td>
                            <td>@clazz.TeacherName</td>
                            <td>@clazz.Students.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $('.apply-data-table').dataTable();
        $(".class-link").addClass("hover-restore");
    });
</script>
}
