@{
    ViewBag.Title = "Classes";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="all-classes" class="table table-striped apply-data-table">
                <caption>All Classes</caption>
                <thead>
                    <tr>
                        <th>Class ID</th>
                        <th>Location</th>
                        <th>Teacher</th>
                        <th>Number Students</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $('.apply-data-table').dataTable();

        CSALCommon.doServerGet("/api/classes", "Getting Class Information", function (data) {
            var makeRow = function (clazz) {
                return [
                    clazz["ClassID"],
                    CSALCommon.trimmedStr(clazz["Location"]),
                    CSALCommon.trimmedStr(clazz["TeacherName"]),
                    CSALCommon.arrLen(clazz["Students"])
                ];
            };

            var rows = [];
            $.each(data, function (index, element) {
                rows.push(makeRow(element));
            });

            CSALCommon.showRows("#all-classes", rows);

            var tableRows = $("#all-classes").find("tbody").children();
            $.each(tableRows, function (index, element) {
                var classTd = $(element).find("td").first();
                var link = $("<a class='class-link'></a>").text(classTd.text());
                classTd.html("").append(link);
            });

            $(".class-link").addClass("hover-restore").click(function (evt) {
                evt.preventDefault();
                //TODO: actual drill-down functionality
                alert("TODO: jump/display to detail screen for " + $(this).text());
            });
        });
    });
</script>
}
