@{
    ViewBag.Title = "Lessons";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="all-lessons" class="table table-striped apply-data-table">
                <caption>All Lessons</caption>
                <thead>
                    <tr>
                        <th>Lesson ID</th>
                        <th>Number of students attempted</th>
                        <th>Number of students completed</th>
                        <th>Date of first attempted</th>
                        <th>Date of last attempted</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $('.apply-data-table').dataTable();

        CSALCommon.doServerGet("/api/lessons", "Getting Lesson Information", function (data) {
            //TODO: need to be able to show this information
            var makeRow = function (lesson) {
                return [
                    lesson["LessonID"],
                    CSALCommon.arrLen(lesson["Students"]),
                    "???",
                    "???",
                    CSALCommon.trimmedStr(lesson["LastTurnTime"])
                ];
            };

            var rows = [];
            $.each(data, function (index, element) {
                rows.push(makeRow(element));
            });

            CSALCommon.showRows("#all-lessons", rows);

            var tableRows = $("#all-lessons").find("tbody").children();
            $.each(tableRows, function (index, element) {
                var lessonTd = $(element).find("td").first();
                var lessonID = lessonTd.text();
                var link = $("<a href='/home/lessondetails/" + lessonID + "' class='lesson-link'></a>").text(lessonID);
                lessonTd.html("").append(link);
            });

            $(".lesson-link").addClass("hover-restore");
        });
    });
</script>
}
