@using CSALMongoWebAPI.Util

@{
    ViewBag.Title = "Teaching Materials";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>Coming Soon</p>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
    <script>
        $(document).ready(function () {
            //Nothing currently
        });
    </script>
}
