@{
    ViewBag.Title = "Students";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="all-students" class="table table-striped apply-data-table">
                <caption>All Students</caption>
                <thead>
                    <tr>
                        <th>Subject (User) ID</th>
                        <th>Last Interaction</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model) {
                        <tr>
                            <td><a href="/home/studentdetails/@student.UserID" class="student-link">@student.UserID</a></td>
                            <td>@student.LastTurnTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $('.apply-data-table').dataTable();
        $(".student-link").addClass("hover-restore");
    });
</script>
}
